<h2><%= @details.title %></h2>
<p><%= @details.details %></p>
<p><%= @details.completed %></p>


<%= link_to 'Back to List', tasks_path %>
<h3>----------------------------</h3>
<%= link_to 'update restaurant', edit_task_path %> 
